# Core Backend & FastAPI
fastapi
uvicorn
pydantic
python-multipart
python-dotenv
toml

# Database & Data Processing
psycopg2-binary
pandas>=2.2.0,<3.0.0

# Finance & Scraping
requests
yfinance
lxml
urllib3
